/* Перемінні */
:root {
    --primary-text-color: rgba(255, 255, 255, 1);
    --title-text-color: rgba(33, 33, 33, 1);
    --accent-text-color: rgba(33, 150, 243, 1);
    --wight-text-color: rgba(255, 255, 255, 1);
    --text-color: rgba(117, 117, 117, 1);
    --primary-bg-color: rgba(33, 150, 243, 1);
    --accent-bg-color:rgba(229, 229, 229, 1);
    --main-bg-color: rgba(255, 255, 255, 1);
    --hero-bg-color: rgba(47, 48, 58, 1);
    --footer-bg-color: rgba(47, 48, 58, 1);
}

/* Body */
body {
    
    color: var(--title-text-color);
    background-color: var(--main-bg-color);
    font-family: Montserrat, sans-serif;
    letter-spacing: -0.015em;
    font-size: 18px;
    
}



/* Logo */
.logo {
    color: var(--accent-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;   
  

}
.logo-text {
    color: rgba(0, 0, 0, 1);
}

.footer .logo-text{
    color: #ffffff;
}


/* збиває налаштування */
.list {
    list-style: none;


}

/* Button */
.button {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

}



/* site nav */
.nav .link {
    color: #212121;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
}
.nav .link:hover,
.nav .link:focus {
    color: var(--accent-text-color);
}




/* LINK */
.link {
    text-decoration: none;
}
.link-portfolio .link.current {
    color: var(--accent-text-color);
}
    
.link-studio .link.current {
    color: var(--accent-text-color);
}


/* CONTACTS*/
.contacts .mail,
.contacts .mail:hover,
.contacts .mail:focus{
    color: var(--accent-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts .phone,
.contacts .phone:hover, 
.contacts .phone:focus {
    color:  var(--text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* HERO */
.hero {
    background-color: var(--hero-bg-color);
    
}
.hero-title {
    color: #ffffff;
    background-color: var(--hero-bg-color);
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    /* Позиция */
        

        
}



/* Section */
.section-title {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

      
        
}
.work .section-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
   

}
/* Text */
.text{
    color: var(--text-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    
}
.section-list .title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
      
}
.section-list .text{
    font-family: 'Roboto';   
    font-size: 16px;
    line-height: 1.2;
        
}
/* TEAM */
.team{
    background-color: var(--accent-bg-color);
}
.team .sections-title{
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    
}

/* FOOTER */
.footer {
    background-color: var(--footer-bg-color);
}
.address-footer .mail,
.address-footer .phone 
{
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    cursor: pointer;
    
}
.map{
    color: var(--wight-text-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-style: normal;
    
}


/* CSS Портфолио */

/* Filter */
.filter-button {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-text-color);
    
}
.title{
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.work .text{
    color: var(--text-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}